[submodule "src/la32r_gcc-8.3.0"]
	path = src/la32r_gcc-8.3.0
	url = https://github.com/Mikura-Kyouka/la32r_gcc-8.3.0.git
[submodule "src/la32r_glibc-2.28"]
	path = src/la32r_glibc-2.28
	url = https://github.com/Mikura-Kyouka/la32r_glibc-2.28.git
[submodule "src/la32r_binutils"]
	path = src/la32r_binutils
	url = https://github.com/Mikura-Kyouka/la32r_binutils.git
[submodule "src/la32r-Linux"]
	path = src/la32r-Linux
	url = https://github.com/Mikura-Kyouka/la32r-Linux.git
	shallow = true
